*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #FFFF;
	--text-color: #88959F;
	--main-color: #00C38A;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}
.logo img{
	width: 135px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.navbar a:hover {
	background: var(--second-color);
	color: var(--bg-color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}
.home{
	height: 100vh;
	width: 100%;
	position: relative;
	background: url(/images/bg-slider.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.home-text h4{
	color: var(#000000);
	font-size: 24px;
	font-weight: 600;
    line-height: 30px;
	margin-bottom: 2rem;
	margin-right: 50%;
}
.home-text h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}
.btn{
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid var(--main-color);
}

header.sticky{
	padding: 10px 16%;
	background: var(--bg-color);
	border-bottom: 1px solid #0e1630;
}
.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.about .fa-arrow-right{
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}
.about-text h4{
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.about-text h2{
	font-size: var(--h2-font);
    align-items: center;
}
.about-text h1{
	font-size: var(--h2-font);
    align-items: center;
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.about-img img{
	height: auto;
	width: 100%;
	max-width: 460px;
}

.main-text{
	text-align: center;
}
.main-text h2{
	font-size: var(--h2-font);
	margin-bottom: 10px;
	color: #00C38A;
}
.main-text h4{
	color: var(#88959F);
	font-size: 24px;
	font-weight: 600;
}

.search {
    height: 50vh;
    width: 100%;
    position: relative;
    background: url('/images/bg-search.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-search {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.text-search h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.text-search h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #00C38A;
    margin: 10px 0;
}

.text-search p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #FFF;
}

form {
    background: #FFFFFF;
    width: 100%;
    max-width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 195, 138, 0.5);
    border-radius: 30px;
    overflow: hidden;
}

form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
    color: #333;
}

form button {
    background: #00C38A;
    border: none;
    padding: 20px 30px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #00996E;
}

form .fa-search {
    padding: 0 20px;
    color: #00C38A;
    font-size: 1.2rem;
}


.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: stretch;
    gap: 2rem;
    margin-top: 3rem;
}

.row {
    padding: 20px;
    background: #00C38A;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.row h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.row-icon i {
    font-size: 24px;
    color: #ffffff;
}

.row:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #019970;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.contact {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	gap: 2rem;
	background-color: #dbdcdd;
	padding: 2rem;
	text-align: center;
}

.contact .footer-logo img {
	width: 150px;
	height: auto;
}

.contact-text h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--main-color);
	margin-bottom: 1rem;
}

.contact-list {
	list-style: none;
	padding: 0;
	margin: 2rem 0;
}

.contact-list li {
	margin-bottom: 1rem;
}

.contact-list li a {
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.4s ease;
}

.contact-list li a:hover {
	color: #12141c;
	transform: scale(1.05);
}

.contact-icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1.5rem;
}

.contact-icons a {
	text-decoration: none;
}

.contact-icons i {
	height: 50px;
	width: 50px;
	background: var(--main-color);
	border-radius: 50%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	transition: all 0.4s ease;
}

.contact-icons i:hover {
	background: #019970;
	transform: scale(1.1);
}


.last-text {
    background-color: #f8f9fa; 
    padding: 20px 0; 
}

.last-text p {
    text-align: center;
    padding: 15px;
    color: var(--second-color);
    font-size: 14px; 
    font-weight: 500; 
    letter-spacing: 1px;
    line-height: 1.6; 
    margin: 0; 
    text-transform: uppercase; 
    border-top: 1px solid var(--second-color); 
    border-bottom: 1px solid var(--second-color);
}

.top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 1000; /* Ensures the button is above other content */
}

.top:hover {
    background: var(--text-color);
    color: var(--main-color);
    transform: translateY(-5px);
}

.top i {
    font-size: 24px;
}

/* Optional: Add animation for smooth scrolling */
html {
    scroll-behavior: smooth;
}


@media (max-width: 1325px){
	header{
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px){
	:root{
		--h1-font: 4.2rem;
		--h2-font: 2.9rem;
		--p-font: 1rem;
	}
	section{
		padding: 70px 3% 60px;
	}
	.home{
		height: 85vh;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
		--h2-font: 2.7rem;
	}
}
